<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <springProperty scope="context" name="env" source="spring.profiles.active"/>
    <!-- Console Appender -->
    <include resource="logback/base-logback.xml"/>
    <!-- Logstash Appender -->
    <appender name="LOGSTASH"
              class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:30500</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {"app":"${appName}","env":"${env}"}
            </customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>